apiVersion: v1
clusters:
- cluster:
    insecure-skip-tls-verify: true
    server: https://127.0.0.1:38183
  name: default-cluster
contexts:
- context:
    cluster: default-cluster
    user: default-auth
  name: default-context
current-context: default-context
kind: Config
preferences: {}
users:
- name: default-auth
  user:
    client-certificate: kubelet.pem
    client-key: kubelet.key
