apiVersion: v1
clusters:
- cluster:
    certificate-authority: /Users/I576375/Code/kubernetes-guide/kubelet/kubernetes-1.22.15/mykubelet/certs/ca.crt
    server: https://127.0.0.1:38183
  name: default-cluster
contexts:
- context:
    cluster: default-cluster
    namespace: default
    user: default-auth
  name: default-context
current-context: default-context
kind: Config
preferences: {}
users:
- name: default-auth
  user:
    as-user-extra: null
    client-certificate: ./kubelet.pem
    client-key: ./kubelet.key
